

<h2 *ngIf="createMode" > Create New Book Instance  </h2>
<h2 *ngIf="!createMode" > Edit Book Instance Details  </h2>

<table class="test">
    <tr>
        <td>

            <table class="test">
                <tr>
                    <td>Writer</td>
                    <td>
                            <app-auto-complete-text *ngIf="writersLoaded && createMode"  [keyValuePairs]="writersAsKvps" (itemSelectedEvent)="onSelectWriter($event)" 
                             class="input-lg" [(searchKey)]="newBookInstance.writerId" ></app-auto-complete-text>

                             
                             <div *ngIf="gotEditInfo && !createMode" type="text" disabled>{{newBookInstance.writerName}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Book Definition</td>
                    <td>
                            <app-auto-complete-text *ngIf="bookDefsLoaded && createMode"  [keyValuePairs]="bookDefsAsKvps" (itemSelectedEvent)="onSelectBookDef($event)" 
                             class="input-lg" [(searchKey)]="newBookInstance.definitionId" ></app-auto-complete-text>

                             <div *ngIf="gotEditInfo && !createMode" type="text" disabled>{{newBookInstance.bookName}}</div>
                    </td>
                </tr>
            
                <tr>
                    <td>Publisher</td>
                    <td>
                            <app-auto-complete-text *ngIf="publishersLoaded "  [keyValuePairs]="publishersAsKvps"  (itemSelectedEvent)="onSelectPublisher($event)"
                             class="input-lg" [(searchKey)]="newBookInstance.publisherId" ></app-auto-complete-text>
                    </td>        
                </tr>
            
                <tr>
                    <td>Language</td>
                    <td>
                            <app-auto-complete-text *ngIf="languagesLoaded"  [keyValuePairs]="languagesAsKvps" (itemSelectedEvent)="onSelectLanguage($event)"
                             class="input-lg" [(searchKey)]="newBookInstance.languageId" ></app-auto-complete-text>
                    </td>        
                </tr>
                <tr>
                    <td>Edition</td>
                    <td>
                        <input *ngIf="gotEditInfo || createMode" type="text" [(ngModel)]="newBookInstance.edition" >
                    </td>        
                </tr>
                <tr>
                    <td>Page Number</td>
                    <td>
                        <input *ngIf="gotEditInfo || createMode" type="text" [(ngModel)]="newBookInstance.pageNumber" >
                    </td>        
                </tr>
                <tr>
                    <td>Number in stock</td>
                    <td>
                        <input *ngIf="gotEditInfo || createMode" type="text" [(ngModel)]="newBookInstance.numberInStock" >
                    </td>        
                </tr>                
                <tr>
                    <td>Translator (Optional)</td>
                    <td>
                            <app-auto-complete-text *ngIf="translatorsLoaded"  [keyValuePairs]="translatorsAsKvps" (itemSelectedEvent)="onSelectTranslator($event)"
                             class="input-lg" [(searchKey)]="newBookInstance.translatorId"></app-auto-complete-text>
                    </td>        
                </tr>
            
                <tr>
                    <td>Price</td>
                        <td>
                            <input *ngIf="gotEditInfo || createMode" currencyMask type="text" [options]="{prefix: '', suffix:'TL'}"  [(ngModel)]="newBookInstance.price" />
                        </td>        
                </tr>    
            
                <tr *ngIf="createMode">
                    <td>
                        Create Book
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="createBookInstance()" > Create Book Instance </button>
                    </td>
                </tr>
            
                <tr *ngIf="!createMode">
                    <td>
                        Edit Book
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="editBookInstance()" > Save Changes </button>
                    </td>
                </tr>

                <tr *ngIf="!createMode">
                    <td>
                        Delete Book
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteBookInstance()" > Delete </button>
                    </td>
                </tr>

                
            
            
            
            </table>

        </td>
        <td *ngIf="!createMode">
            <tr>
                <td>PHOTOS</td>
            </tr>
            <tr>
                 <td><img *ngFor="let p of photos" src="/uploadFolder/{{p.fileName}}" class="img-rounded img-responsive" width="100%" height="100%"  ></td>
            </tr>              
            <tr>
                <td><input type="file" (change)="uploadPhoto()" #fileInputEkran  ></td>
            </tr>
                            
        </td>
    </tr>
</table>

