

<table class="test">
    <tr>
        <td>Writer</td>
        <td>
                <app-auto-complete-text *ngIf="writersLoaded"  [keyValuePairs]="writersAsKvps" (itemSelectedEvent)="onSelectWriter($event)" 
                 class="input-lg" ></app-auto-complete-text>
        </td>
    </tr>    
    <tr>
        <td>Book Definition</td>
        <td>
                <app-auto-complete-text *ngIf="bookDefsLoaded"  [keyValuePairs]="bookDefsAsKvps" (itemSelectedEvent)="onSelectBookDef($event)" 
                 class="input-lg" ></app-auto-complete-text>
        </td>        
    </tr>

    <tr>
        <td>Publisher</td>
        <td>
                <app-auto-complete-text *ngIf="publishersLoaded"  [keyValuePairs]="publishersAsKvps"  
                 class="input-lg" ></app-auto-complete-text>
        </td>        
    </tr>

    <tr>
        <td>Language</td>
        <td>
                <app-auto-complete-text *ngIf="languagesLoaded"  [keyValuePairs]="languagesAsKvps" 
                 class="input-lg" ></app-auto-complete-text>
        </td>        
    </tr>    
    <tr>
        <td>Translator (Optional)</td>
        <td>
                <app-auto-complete-text *ngIf="translatorsLoaded"  [keyValuePairs]="translatorsAsKvps" 
                 class="input-lg" ></app-auto-complete-text>
        </td>        
    </tr>


</table>