
<div style="margin-left:auto; margin-right:0;" >
        <i  class="glyphicon glyphicon-shopping-cart" (click)="goToCart()" ></i>
        {{cartItems.length}}

        <button *ngIf="!userLoggedIn" type="button" class="btn btn-primary" (click)="goToLogin()" >Login</button>
        <button *ngIf="userLoggedIn" type="button" class="btn btn-primary" (click)="logout()" >Logout</button>
</div>

                
<table style="margin: 0px auto;">
        <tr>
                <td>
        <app-auto-complete-text *ngIf="writersAndBooksLoaded"  [keyValuePairs]="writersAndBooks" (itemSelectedEvent)="onFrontPageSearch($event)" 
                 [(searchKey)]="selectedBookOrWriter" [plhParam]="'Kitap adı'" [minSearchParam]="3" [inputClassParam]="'input-lg'" [textNoResultsParam]="'sonuç bulunamadı'" ></app-auto-complete-text>
                </td>
        </tr>
</table>






<div *ngIf="booksLoaded" style="text-align: center" >

    <div class="container" >
        <hr>
        
        <div class="row" *ngFor="let listOfFour of instances">
                <div *ngFor="let book of listOfFour">
                        <div class="col-xs-3">
                                <a href="#" class="thumbnail">
                                     <img src={{book.photoPath}} class="img-responsive" [routerLink]="" (click)=goToPublicBookInst(book); >
                                </a>
                                <a href="#" [routerLink]="" (click)="goToPublicBookInst(book);" >{{book.bookName}}</a>
                                {{book.writerName}}
                                {{book.sallamasyon}}
                                <i class="glyphicon glyphicon-plus" (click)="addBookToCart(book.id)" ></i>
                        </div>
                </div>
        </div>
</div>
        

</div>