<ngx-smart-modal (onClose)="cleanData()" (onEscape)="cleanData()" (onDismiss)="cleanData()"  #chckBoxModel identifier="chckBoxModel">
        
  <div >
          <table *ngIf="chckBoxModel.hasData()">
              <tr *ngFor="let genre of chckBoxModel.getData().all">
                      <td><input type="checkbox" [(ngModel)]="genre.checked" ></td>
                  <td>{{genre.name}}</td>
              </tr>
          </table>
  </div>

  <button (click)="onSave();">Save</button> 
  <button (click)="chckBoxModel.close();">Close</button>
</ngx-smart-modal>